nav{
    display: flex;
    justify-content:space-between;
    align-items:baseline;
    background-color: blue;
    padding: 0 5px 0 0px;
}
nav *{
    margin: 0;
    padding: 0;
    color: white;
    
}
nav menu{
    display: flex;
    justify-content:center;
    align-items:baseline;
    gap:15px;
    font-size: 17px;
    padding:8px;
}
.hover1{
    position: relative;
    text-align:center;
    width:80px;
    padding: 5px 10px;
}
nav menu > div *{
    width:100%;
    padding:5px 0px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
}
.effect1{
    background-color:blue;
    position: absolute;
    margin-top:5px;
    left:0px;
    width: 120px;
    display: none;
}
.hover2{
    background-color:pink;
    position: absolute;
    padding-left:10px;
    bottom:-135px;
    left: 0;
    width: 120px;
    background-color:blue;
    display: none;
}
.hover2 div{
    background-color:blue;
    position: absolute;
    top:0;
    right:-120px;
}
nav p{
    padding:0px;
    margin: 0;
    width:80px;
    padding: 5px 10px;
    text-align: center;
}
.hover1 p{
    padding: 7px 5px;
    border-bottom: 1px solid black;
}
.hover2 p{
    padding:7px 5px;
    border-bottom: 1px solid black;
}
nav button{
    padding:4px 10px;
    border: 0;
    color: black;
}
.hover1:hover{
    background-color: black;
}
.hover2:hover{
    background-color: black;
}
.hover1:hover .effect1{
    display: block;
}
.hover1:hover .hover2{
    display: block;
}
.effect2{
    display: none;
    padding: 0;
}
.hover2:hover .effect2{
    display: block;
}
nav p:not(nav > p):hover {
    background-color: black;
}